.header-about-first-section {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    align-items: center;
}

.header-about-first-section > h2 {
    margin-top: 0;
}

.biography {
    width:70%;
}

@media (max-width: 1000px){
    .header-about-first-section {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .biography {
        width: 85%;
    }

    .vertical-divider {
        margin-top: 0 !important;
    }
}